.horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.horizontal-menu li {
    display: inline;
}
.horizontal-menu a {
    display: block;
    padding: 8px;
    background-color: #00ffff;
}
.horizontal-menu .active {
	background-color: #1cbb09;
    color: white;
}
.horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0018c3;
}
.horizontal-menu li {
    float: left;
}
.horizontal-menu li a {
    display: inline;
    color: #2f2017;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizontal-menu li a:hover {
    background-color:white;
}
.horizontal-menu li {
    border-right: 1px solid #bbb;
}
 
.horizontal-menu li:last-child {
    border-right: none;
}
img{
      height:100px;
	  width :100px;
	  border:1px solid Blue;
	  border-radius:100px;
   }